.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.red {
  color: #880808;
}
.purple {
  color: #bf40bf;
}
.blue {
  color: #0096ff;
}

.green {
  color: #4f7942;
}
.orange {
  color: #ffac1c;
}
